<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PaymentRecordMapper">
    
    <resultMap type="PaymentRecord" id="PaymentRecordResult">
        <result property="id"    column="id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="orderId"    column="order_id"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="orderCode"    column="order_code"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="createBy"    column="create_by"    />
        <result property="type"    column="type"    />
        <result property="createTime"    column="create_time"    />
        <result property="pic"    column="pic"    />
        <result property="updateBy"    column="update_by"    />
        <result property="money"    column="money"    />
        <result property="payTime"    column="pay_time"    />
    </resultMap>

    <sql id="selectPaymentRecordVo">
        select id, update_time, remark, order_id, is_deleted, order_code, serial_number, create_by, type, create_time, pic, update_by, money, pay_time from t_payment_record
    </sql>

    <select id="selectPaymentRecordList" parameterType="PaymentRecord" resultMap="PaymentRecordResult">
        <include refid="selectPaymentRecordVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="isDeleted != null  and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
            <if test="orderCode != null  and orderCode != ''"> and order_code = #{orderCode}</if>
            <if test="serialNumber != null "> and serial_number = #{serialNumber}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="pic != null  and pic != ''"> and pic = #{pic}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
        </where>
    </select>
    
    <select id="selectPaymentRecordById" parameterType="Long" resultMap="PaymentRecordResult">
        <include refid="selectPaymentRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPaymentRecord" parameterType="PaymentRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_payment_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="orderId != null">order_id,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="orderCode != null">order_code,</if>
            <if test="serialNumber != null">serial_number,</if>
            <if test="createBy != null">create_by,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="pic != null">pic,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="money != null">money,</if>
            <if test="payTime != null">pay_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="orderCode != null">#{orderCode},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="type != null">#{type},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="pic != null">#{pic},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="money != null">#{money},</if>
            <if test="payTime != null">#{payTime},</if>
         </trim>
    </insert>

    <update id="updatePaymentRecord" parameterType="PaymentRecord">
        update t_payment_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="orderCode != null">order_code = #{orderCode},</if>
            <if test="serialNumber != null">serial_number = #{serialNumber},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="money != null">money = #{money},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePaymentRecordById" parameterType="Long">
        delete from t_payment_record where id = #{id}
    </delete>

    <delete id="deletePaymentRecordByIds" parameterType="String">
        delete from t_payment_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>